@font-face {
   font-family: 'Byekan' ;
   src: url('../fonts/Byekan.ttf') format('truetype'),
   url('../fonts/Byekan.eot?#iefix') format('embedded-opentype');
}

div, a, p, span, li, ul {
   text-align: right;
   direction: rtl;
}

a {
   text-decoration: none;
}

.yekan {
   font-family: Byekan;
}

.fontsm {
   font-size: 10.3pt;
}

.fontmd {
   font-size: 11.3pt;
}

.fontlg {
   font-size: 17.8pt;
}
.body{
   margin: 0;
   background: #e4dcdc;
}
.header{
   background: #fff;
}
#myheader{
   width: 1200px;
   height: 100px;
   margin: 0 auto; 
   padding-top:15px;
}
#header_right{
   width: 720px; 
   float: right;
   height: 100px;
}
#header_right_top{
   height: 40px;
}
#lock{
  width: 20px; 
  height: 20px; 
  background: url(../img/lock.png);
  display: block; 
  float: right;
}
.login{
    float: right;
    margin-right: 10px;
}
#register{
  width: 20px; 
  height: 20px; 
  background: url(../img/login.png);
  display: block; 
  float: right;
  margin-right: 25px;
}
.reg{
    float: right;
    margin-right: 10px;
}
#header_right_bottom{
   height: 50px;
}
#search_top{
  width: 480px;
  height: 40px;
  float: right;
  margin-right: 20px;
  position: relative ;
}
.input{
   width: 480px ;
   height: 32px; 
   margin-top: 2px; 
   border:1px solid #eee;
   padding-right: 10px;
   color:#8C9C98 ;
   
}
#search_pic{
   width: 42px;
   height: 35px;
   background:url(../img/search.png) no-repeat center #f1e8e8; 
   display: block;
   position: absolute;
   left: -13px; top: 2px; 

}
#main{
   
   width: 1200px;
   height: auto;
   margin: 17px auto;    
   background-color:#e4dcdc;

}
#create{
   width:100%;
   height:380px;
   border: 1px solid black;
   margin-top:40px; 
   background-color:#fff;
}
#advert{
   width: 100%; 
   height:29px; 
   border-bottom:1px solid black;
}
#nameAdvert{
   margin-top: 11px;
   margin-right:10px; 
   display:block;
}
#img{
   width: 659px;
   height:277px;
   float:left;
}
#showImg{
   width:100% ;
   height:100%;
}
#title{
   width: 45%; 
   height:42px; 
   border-left: 1px solid black;
   border-bottom:1px solid black;
}
#title span{
   padding-top: 11px;
   margin-right:10px; 
   display:block;
}
#description{
   width: 45%; 
   height:115px; 
   border-left: 1px solid black;
   border-bottom:1px solid black;
}
#description span{
   padding-top: 11px;
   margin-right:10px; 
   display:block;
}
#price{
  width: 45%; 
  height:35px; 
  border-left: 1px solid black;
  border-bottom:1px solid black;
}
#price span{
   padding-top: 10px;
   margin-right:10px; 
   display:block;
}
#Address{
   width: 45%; 
   height:82px; 
   border-left: 1px solid black;
}
#Address span{
  padding-top: 10px;
  margin-right:10px; 
  display:block;
}
#comment{
   width: 100%; 
   height:40px; 
   border-top: 1px solid black;
}
#comment span{
   padding-top: 10px;
   margin-right:10px; 
   display:block;
}